doctype html
html(lang="uk")
    head
        include layouts/_meta.pug
                                        
        
        block title
 
        block links

               
    body.page 


        block content
        
       
        block script
        
