.company

    h3.company__title Company Details

    .company__address

        p Company Name
        p Street Name & Number
        p Town
        p Postcode/Zip 

    .company__contact

        a(href="tel:xxxxxxxxxxxxxxx") Tel: xxxxx xxxxxxxxxx

        a(href="fax:xxxxxxxxxxxxxxx") Fax: xxxxx xxxxxxxxxx

        a(href="mailto:contact@mydomain.com") Email: <span class="company__mail">contact@mydomain.com</span> 

    .company__working

        .company__sub-title Office Hours

        .company__time

            p Monday - Friday: 08:00 - 17:30
            p Saturday: 08:00 - 13:00

            

        