a.logo(href="#") 

    p.logo__top <span>C</span>LEARCUT

    p.logo__bottom Free PSD Website Template

    //- img.logo__big(src="svg/logo-big.svg", alt="logo")
    //- img.logo__samll(src="svg/logo-small.svg", alt="logo")

nav.navbar
       
    .navbar__mobile

        a.navbar__item(href="#") 
            span home
            
        a.navbar__item(href="#") 
            span style demo

        a.navbar__item(href="#") 
            span full width
            
        a.navbar__item(href="#") 
            span dropdown
                
        a.navbar__item(href="#") 
            span portfolio
            
        a.navbar__item(href="#") 
            span gallery

.navbar__burger

    span.navbar__btn
       

        
