include ../mixins/_mixin-sprite.pug


.social

    h3.social__title Stay Social

    a.social__item(href="#")

        .social__image
            .social__svg
                +sprite('linkedin')
        span Get linked up in LinkedIn


    a.social__item(href="#")

        .social__image
            .social__svg
                +sprite('twitter')
        span Keep up with our Tweets


    a.social__item(href="#")

        .social__image
            .social__svg
                +sprite('pinterest')

        span Photos on Pinterest 


    a.social__item(href="#")
        .social__image
            .social__svg
                +sprite('rss')
        span RSS Feed

        

        





    

